<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryManagementServlet</servlet-name>
        <servlet-class>controller.CategoryManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryGroupServlet</servlet-name>
        <servlet-class>controller.CategoryGroupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryAttributeServlet</servlet-name>
        <servlet-class>controller.CategoryAttributeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffManagementServlet</servlet-name>
        <servlet-class>controller.StaffManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrandManagementServlet</servlet-name>
        <servlet-class>controller.BrandManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductManagementServlet</servlet-name>
        <servlet-class>controller.ProductManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdminServlet</servlet-name>
        <servlet-class>controller.LoginAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginStaffServlet</servlet-name>
        <servlet-class>controller.LoginStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryManagementServlet</servlet-name>
        <url-pattern>/Admin/CategoryManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryGroupServlet</servlet-name>
        <url-pattern>/Admin/CategoryGroup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryAttributeServlet</servlet-name>
        <url-pattern>/Admin/CategoryAttribute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffManagementServlet</servlet-name>
        <url-pattern>/Admin/StaffManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrandManagementServlet</servlet-name>
        <url-pattern>/Admin/BrandManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductManagementServlet</servlet-name>
        <url-pattern>/Admin/Product</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdminServlet</servlet-name>
        <url-pattern>/LoginAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginStaffServlet</servlet-name>
        <url-pattern>/LoginStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
